<div class="container">
  <div class="jumbotron">
    <h1>ReaTech.</h1>
    <p>Enginner Mathcing Service.</p>
    <% if controller.is_checked_in? %>
    <%= link_to '作業を終える!', checkin_path(controller.current_checkin), class: "btn btn-danger btn-large", method: :delete  %>
    <% else %>
    <%= link_to '作業を始める!', new_checkin_path, { :class => "btn btn-primary btn-large" }  %>
    <% end %>
  </div>
</div>

<div class="timeLine">
  <h2 class="timeLine__title">Current Active Projects</h2>
  <% @checkins.each do |checkin| %>
  <div class="timeLine__row">
    <div class="row">
      <div class="col-lg-6">
        <div class="b-worker media">
          <a class="pull-left" href="#">
            <img src="http://placehold.jp/80x80.png" alt="">
          </a>
          <div class="media-body">
            <h5 class="media-heading">UserName: <%= checkin.user %></h5>
            <p>Project: <%= checkin.project.github %></p>
          </div>

          <div class="worker--comment arrow_box">
            <p><%= checkin.message %></p>
          </div>
        </div>
      </div>

      <div style="width:150px;height:150px" class="gmap"  data-title="WEB API ハッカソン" data-lat="<%= checkin.location.latitude %>" data-lng="<%= checkin.location.longitude %>"></div>

    </div>
  </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Checked out at</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= checkin.user %></td>
        <td><%= checkin.location %></td>
        <td><%= checkin.checked_out_at %></td>
        <td><%= checkin.message %></td>
        <td><%= link_to 'Show', checkin %></td>
        <td><%= link_to 'Destroy', checkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

